<h1>Premium jobs</h1>

<%= render @jobs %>
<%= will_paginate @jobs %>

<br />
<%= link_to 'New Job', new_job_path %>
<br />
<%= link_to 'Hello World', hello_world_path %>
<br>
<%= link_to 'All jobs', jobs_path %>