<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1><%= job_title(@job) %></h1>

<%= simple_format @job.description %>

<%= pluralize(@job.comments.size, "comment") %> |
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<h2>Comments</h2>
<%= render @job.comments %>

<h2>New comment<h2>
	<%= render "comments/form" %>


