<h1>Olá <%= @company.name %>,</h1>

<p>Você recebeu um novo comentário na vaga <%= link_to @job.title, job_url(@job) %>:</p>

<p>
  <em>Nome</em>: <%= @comment.name %>
  <em>Mensagem</em>: <%= @comment.body %>
</p>

<p>Você pode ver todos os comentários desta vaga acessando <%= job_url(@job) %>.</p>

<p>Obrigado!</p>